@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --eerie-black: hsla(210, 11%, 15%, 1);
  --onyx: hsla(210, 10%, 23%, 1);
  --outer-space: hsla(210, 9%, 31%, 1);
  --slate-gray: hsla(208, 7%, 46%, 1);
  --french-gray: hsla(210, 11%, 71%, 1);
  --french-gray-2: hsla(210, 14%, 83%, 1);
  --seasalt: hsla(210, 17%, 98%, 1);
  --antiflash-white: hsla(210, 16%, 93%, 1);
  --olive: hsla(23, 6%, 26%, 1);
  --eggplant: hsla(328, 14%, 36%, 1);
  --lavender-web: hsla(259, 19%, 83%, 1);
  --timberwolf: hsla(26, 15%, 81%, 1);
  --platinum-gray: hsla(240, 1%, 86%, 1);
  --gunmetal: hsla(204, 28%, 19%, 1);
  --blue-munsell: hsla(191, 34%, 48%, 1);
  --tint: hsla(202, 42%, 86%, 1);
  --green: hsla(164, 11%, 41%, 1);
  --myrtle-green: hsla(186, 22%, 37%, 1);
  --cambridge-blue: hsla(149, 19%, 66%, 1);
  --olivine: hsla(71, 37%, 64%, 1);
  --tan: hsla(35, 53%, 69%, 1);
  --cornsilk: hsla(50, 73%, 90%, 1);
  --burnt-sienna: hsla(15, 55%, 64%, 1);
  --jasper: hsla(8, 49%, 51%, 1);

  line-height: 2;
  color: var(--outer-space);


}

@media (prefers-color-scheme: dark) {
  :root {
   color: var(--seasalt);
   background-color: var(--onyx);
  }
}

body {
  height: 100vh;
  color: var(--outerspace);
  background: linear-gradient(
      to bottom,
      transparent,
      var(--antiflash-white)
    )
}

a {
  text-decoration: none;
  color:var(--burnt-sienna);
  cursor: pointer;
  font-weight: 500;
}
a:hover {
  text-decoration: underline;
  color: var(--tan)

}

.wrap {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15rem;
}

.caption {
  color: var(--burnt-sienna);
  font-weight: 300;
  display: flex;
  flex-direction: column;

}